<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="x-ua-compatible" content="IE=edge">
		<meta charset="utf-8">
		<title>Bongcloud</title>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
        
	</head>
	<body>
		<h1>Check-Mate</h1>
            <div id = "nav">
			<ul>
                <li><a href="">Bongcloud</a></li>
			</ul>
		    </div>
		<div id="content">
      <a href="https://www.chess.com/openings/Sicilian-Defense" ><img src="/assets/openings/bongcloud.gif"></a>
        <div id="help">
          Pros:
          <ul>
            <li>Shows that you're really skilled at chess if you win</li>
            <li>White goes for the initiative</li>
            <li>Unusual positional themes</li>
          </ul>
          Cons:
          <ul>
            <li>Difficult to play</li>
            <li>You look stupid playing this if you lose</li>
            <li>White's king is always exposed</li>
          </ul>
        </div>
            <div id ="nav">
              <ul>
                <li>
                    <a class="openings-game-block" href="Kings.html" title="King's Gambit">

                        <div class="openings-thumbnail">
                          <img class="openings-image" src="https://www.chess.com/dynboard?fen=rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR&amp;size=0" data-src="https://www.chess.com/dynboard?fen=rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR&amp;size=0">
                        </div>
          
                        <div class="openings-game-name" title="King's Gambit">
                          King's Gambit
                        </div>
                      </a>
                </li>
                <li>
                <a class="openings-game-block" href="Queens.html" title="Queen's Gambit">

                    <div class="openings-thumbnail">
                    <img class="openings-image" src="https://www.chess.com/dynboard?fen=rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR&amp;size=0" data-src="https://www.chess.com/dynboard?fen=rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR&amp;size=0">
                    </div>
    
                    <div class="openings-game-name" title="Queen's Gambit">
                    Queen's Gambit
                    </div>
                </a>
                </li>
                <li>
                <a class="openings-game-block" href="Sicilian.html" title="Sicilian Defense">

                    <div class="openings-thumbnail">
                    <img class="openings-image" src="https://www.chess.com/dynboard?fen=rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR&amp;size=0" data-src="https://www.chess.com/dynboard?fen=rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR&amp;size=0">
                    </div>
    
                    <div class="openings-game-name" title="Sicilian Defense">
                    Sicilian Defense
                    </div>
                </a>
                </li>
                <li>
                    <a class="openings-game-block" href="Bongcloud.html" title="Bongcloud">

                        <div class="openings-thumbnail">
                          <img class="openings-image" src="/assets/openings/Bongcloud.png" data-src="Bongcloud.png">
                        </div>
          
                        <div class="openings-game-name" title="Bongcloud">
                          Bongcloud
                        </div>
                      </a>
                </li>
            </ul>
        </div>
		</div>
		<div id = "footer" >
			<p>This website is developed as an educational project. Certain materials are included under the fair use exemption of the U.S. Copyright Law and have been prepared according to the multimedia fair use guidelines and are restricted from further use.</p>
	
			</div>
	</body>
</html>