
<body>
    <div id='headerContainer'>
        <button 
            mat-raised-button color=""
            class="toolbarButton" id='reset' (click)='resetBoard()'>Settings</button>
        <div id='title'>Check-Mate</div>
        <button 
            mat-raised-button color=""
            class="toolbarButton" id='reset' (click)='resetBoard()'>Login</button>
    </div>
    <div id='boardContainer'>
        <div id='controlBox'>
            <button 
            mat-raised-button color=""
            id='reset' 
            class="toolbarButton" (click)='resetBoard()'>Reset</button>
            <button 
            mat-raised-button color=""
            class="toolbarButton" id='reset' (click)='resetBoard()'>New Puzzle</button>
            <button 
            mat-raised-button color=""
            class="toolbarButton" id='reset' (click)='resetBoard()'>Load Custom</button>
        </div>
        <div id="centerBoardBox">
            <div id="sideControlBox"></div>
            <ngx-chess-board #board id='board'></ngx-chess-board>
            <div id="sideControlBox"></div>
        </div>
        <div id='entryBox'>
            <textarea id="enterSituation" [ngModel]="situation" (ngModelChange)="loadSituation($event)">
    
            </textarea>
        </div>
    </div>
</body>


<router-outlet></router-outlet>