
body {
    background-color: lightgray;
    
}

#mainDiv {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh 70vh 10vh;
}

/* HEADER ---------------------------------------------------------------*/ 

#headerContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;

}

    /* SETTINGS ---------------------------------------------------------------*/ 

    #settings {
        grid-column-start: 1;
        
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    #settingsButton {
        margin-top: 20px;
        max-height: 6vh;
        background-color: transparent;
        border: transparent;
        float: left;
    }

    #settingsImage {
        max-height: 5vh;
    }

    /* TITLE ---------------------------------------------------------------*/ 

    #title {
        width: 100%;
        text-align: center;
        padding-top: 5vh;
    }

    #titleHeader {
        font-size: 70px;
    }

    /* LOGON ---------------------------------------------------------------*/

    #loginImage {
        max-height: 5vh;
    }

    #login {
        grid-column-start: 3;
    }

    #loginButton {
        margin-top: 20px;
        max-height: 6vh;
        background-color: transparent;
        border: transparent;
        float: right;
    }

/* BOARD ---------------------------------------------------------------*/

#boardContainer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
    background-color: lightgray;

    display: grid;
    grid-template-columns: 5% 15% 60% 15% 5%;
    grid-template-rows: 20% 60% 20%;

}

    /* CONTROLBOX ---------------------------------------------------------------*/

    #controlBox {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .toolbarButton {
        margin-left: 5px;
        margin-right: 5px;
    }

    /* BOARDBOX ---------------------------------------------------------------*/

    #centerBoardBox {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; 

        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* SIDEBOX SCORE ---------------------------------------------------------------*/

    #sideControlBox {

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        flex-direction: column;
    

    
        width: 85%;
        height: 100%;
        margin-left: 15px;
        margin-right: 15px;
    
        justify-content: center;
        align-items: center;
    
    }
    
    #sideControlBoxHeader {
        
        font-size: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* ENTER SITUATION ---------------------------------------------------------------*/

    #entryBox {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 50vw;
        padding-top: 5vh;
    }
    
    #enterSituation {
        min-width: 50vw;
        min-height: 20vh;
        background-color: rgb(53, 53, 53);
        color: white;
        font-size: 18px;
        resize: none;
    }



mat-list {
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 90); 
}



















