
<body>
    <div id="mainDiv">
        <div id='headerContainer'>
            <button id='settingsButton' (click)="openSettingsModal()"><img id="settingsImage" src="assets/images/managementNotHover.png"></button>
            <div id='title'><h1 id='titleHeader'>Check-Mate</h1></div>
            <!--<button id='loginButton'><img id="loginImage" src="assets/images/loginNotHover.png"></button>-->
        </div>
        <div id='boardContainer'>
            <div id='controlBox'>
                <button 
                mat-raised-button color=""
                id='reset' 
                class="toolbarButton" (click)="resetBoard()">Reset</button>
                <button 
                mat-raised-button color=""
                class="toolbarButton" id="startChallengeButton" (click)="startChallenge()" id='reset'>Begin Challenge</button>
                <button 
                mat-raised-button color=""
                class="toolbarButton" id='reset' (click)="flipBoard()">Reverse</button>
                <div id="currentScore" style="padding-top: 10px;">
                  <h2>Score: {{currentScore}}</h2>
                </div>
                <br>
                
            </div>
            <div id="sideControlBox">
              <div id="sideControlBoxHeader"><div>High Scores</div></div>
                <mat-list style="overflow: auto; height: 80%; width: 100%;">
                    <mat-list-item *ngFor="let score of Scores"
                    style="background-color: darkgrey; 
                    border: solid; 
                    border-color: rgb(53, 53, 53);
                    width: 98%;">
                        <h2 style="color: rgb(53, 53, 53); font-weight: bolder; font-size: 25px;"matLine>{{score.username}}</h2>
                        <h2 matline style="color:rgb(53, 53, 53);">{{score.scoreValue}} Completed</h2>
                    </mat-list-item>
                </mat-list>
            </div>
            <div id="centerBoardBox">
                <ngx-chess-board #board id='board'
                (moveChange) = "changeReg()"
                [pieceIcons]="icons"
                [size] = 600
                [darkTileColor]="darkTileColorGray"
                [lightTileColor]="lightTileColorGray"></ngx-chess-board>
                <div class="answers" id="answers"><h2>Solution: {{displayCurrentSolution()}}</h2></div>
            </div>
            
        </div>
    </div>
    
    <div class="succModal" id="mySuccModal">
      <div class="succModal-content">
          <h1 class="succModal-text">Problem Complete!</h1>
      </div>
    </div>

    <div class="settingsModal" id="mySettingsModal">
      <div class="settingsModal-content">
        <span class="settingsClose" (click)="closeSettingsModal()">&times;</span>
        <h1 class="settingsModal-text">Settings</h1>
        <div style="background-color: gray; vertical-align: middle;">
          <label text="Toggle" class="switch" style="margin-top: 20px;">
            <input type="checkbox" (click)="toggleSolutionsVis()">
            <span class="slider round"></span>
          </label><h2 style="color: whitesmoke;">Solution Visibility</h2><br>
        </div>
        
        <div style="background-color: gray; vertical-align: middle;">
          <label text="Toggle" class="switch" style="margin-top: 20px;">
            <input type="checkbox" (click)="toggleSounds()" checked>
            <span class="slider round"></span>
          </label><h2 style="color: whitesmoke;">Sound Effects</h2><br>
        </div>



        <div style="background-color: gray; vertical-align: middle;">
          <label text="Toggle" class="switch" style="margin-top: 20px;">
            <input type="checkbox" (click)="toggleCheaterMode()">
            <span class="slider round"></span>
          </label><h2 style="color: whitesmoke;">Cheater Mode</h2><br>
        </div>
        
      </div>
    </div>

    <div class="scoreModal" id="myScoreModal">
      <div class="scoreModal-content">
          <h1>Better Luck Next Time!</h1>
          <h2>Final Score: {{currentScore}}</h2>
          <div class="scoreSolution" id="myScoreSolution">
            <h2 id="scoreSolutionText">
              {{displayCurrentSolution()}}
            </h2>
          </div>
          <label for="usernameInput">Name: </label>
          <input type="text" id="usernameInput" class="scoreInput" name="usernameInput"><br>
          <button 
                mat-raised-button color=""
                class="scoreClose" (click)="submitScore()" id='reset'>Submit Score</button>
      </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h1>Check-Mate</h1>
                <div id = "nav">
                <ul>
                    <li><a href="">Sicilian Defense</a></li>
                </ul>
                </div>
            <div id="content">
          <a href="https://www.chess.com/openings/Sicilian-Defense" ><img src="./assets/openings/Sicilian.png"></a>
            <div id="help">
              Pros:
              <ul>
                <li>Unbalances the game</li>
                <li>Gives Black good chances of attack</li>
                <li>Great opening when you need to play for a win</li>
              </ul>
              Cons:
              <ul>
                <li>White has many ways to meet the Sicilian</li>
                <li>In the main variations White gets great attacking chances</li>
                <li>There is a lot of theory</li>
              </ul>
            </div>
                <div id ="nav">
                  <ul>
                    <li>
                        <a class="openings-game-block" href="Kings.html" title="King's Gambit">
    
                            <div class="openings-thumbnail">
                              <img class="openings-image" src="https://www.chess.com/dynboard?fen=rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR&amp;size=0" data-src="https://www.chess.com/dynboard?fen=rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR&amp;size=0">
                            </div>
              
                            <div class="openings-game-name" title="King's Gambit">
                              King's Gambit
                            </div>
                          </a>
                    </li>
                    <li>
                    <a class="openings-game-block" href="Queens.html" title="Queen's Gambit">
    
                        <div class="openings-thumbnail">
                        <img class="openings-image" src="https://www.chess.com/dynboard?fen=rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR&amp;size=0" data-src="https://www.chess.com/dynboard?fen=rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR&amp;size=0">
                        </div>
        
                        <div class="openings-game-name" title="Queen's Gambit">
                        Queen's Gambit
                        </div>
                    </a>
                    </li>
                    <li>
                    <a class="openings-game-block" href="Sicilian.html" title="Sicilian Defense">
    
                        <div class="openings-thumbnail">
                        <img class="openings-image" src="https://www.chess.com/dynboard?fen=rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR&amp;size=0" data-src="https://www.chess.com/dynboard?fen=rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR&amp;size=0">
                        </div>
        
                        <div class="openings-game-name" title="Sicilian Defense">
                        Sicilian Defense
                        </div>
                    </a>
                    </li>
                    <li>
                        <a class="openings-game-block" href="Bongcloud.html" title="Bongcloud">
    
                            <div class="openings-thumbnail">
                              <img class="openings-image" src="./assets/openings/Bongcloud.png" data-src="Bongcloud.png">
                            </div>
              
                            <div class="openings-game-name" title="Bongcloud">
                              Bongcloud
                            </div>
                          </a>
                    </li>
                </ul>
            </div>
            </div>
            <div id = "footer" >
                <p>This website is developed as an educational project. Certain materials are included under the fair use exemption of the U.S. Copyright Law and have been prepared according to the multimedia fair use guidelines and are restricted from further use.</p>
        
                </div>
        </div>
    </div>

</body>


<router-outlet></router-outlet>
